body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #79b9c6;
  font-family:Arial, Helvetica, sans-serif;
}

#text1{
  margin-left: 2px;
  font-size:15px;
  text-align: left;
  color:white;
  font-weight:bolder;
  
}

#text2{
  margin-top:120px;
  margin-bottom:20px;
  text-align: center;
  font-size:12px;
}

#text3{
  text-align:center;
  font-size:70px;
  color:white;
  font-weight:bolder;
}

p{
  color:white;
  font-size:12px;
  BORDER
  text-align:center;
}