body {
  margin: 0;
  line-height: 1.5;
  background-color: white;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  box-sizing: border-box;
}

header{
  background-color:grey;
  margin-bottom: 30px;
  }
  
  section{
    margin-bottom: 20px;
    /* height:300px; */
    padding-top: 150px;
    padding-bottom: 150px;
    text-align:center;
  }
  
  #left{
  background-color:blue;
  float: left;
  width: 50%
  }
  
  #right{
  background-color: red;
  float: right;
  width:25%
  
  }
  
  footer{
  background-color:green;
  width:100%;
  position: absolute;
  bottom: 0;
  }